* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button,input {
    outline: none;
    border: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   background: url(../images/bg.jpeg) no-repeat center;
   background-size: cover;
}
.container {
    width: 600px;
}
.search {
    margin: 30px 0;
    overflow: hidden;
}
.search input {
    float: left;
    padding-left: 15px;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
}
.search:nth-child(2) input {
    width: 80%;
}
.search button {
    float: left;
    width: 20%;
    height: 45px;
    background: rgb(163,66,30) url(../images/icon-search.png) no-repeat center;
    background-size: 30px;
    cursor: pointer;
}
.search button:hover {
    transition: all .5s;
    background-color: rgb(32,46,81);
}
.tip {
    margin-top: 50px;
    color: #fff;
}
.tip-bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.tip-bottom a {
    padding: 10px 25px;
    color: #000;
    background: #fff;
    border-radius: 5px;
}
.tip-bottom a:hover {
    transition: all .5s;
    background-color: rgb(32,46,81);
    color: #fff;
}
@media screen and (max-width:768px)  {
    body {
        display: block;
    }
    .container {
        margin-top: 100px;
        padding: 0 15px;
        width: 100%;
        box-sizing: border-box;
    }
}